<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Pivotal Tracker</string>
	<key>ordering</key>
	<array>
		<string>1F2489B3-F7A3-44F0-B8BE-0202D2814AFB</string>
		<string>1F819144-D007-4A8A-B558-143EE266E177</string>
	</array>
	<key>uuid</key>
	<string>E1C29731-7FF2-4354-88A3-2EBD6C6B6F2B</string>
</dict>
</plist>
